<tr class="border-t border-t-[#d4dde2] " onclick="location.href='/paciente'">
  <td class="table-68ee368f-08da-466c-ac99-febb1d811527-column-120 h-[72px] px-4 py-2 w-[400px] text-[#101518] text-sm font-normal leading-normal">
      <%= registro.paciente%>
  </td>
  <td class="table-68ee368f-08da-466c-ac99-febb1d811527-column-240 h-[72px] px-4 py-2 w-[400px] text-[#5c778a] text-sm font-normal leading-normal">
      <%= registro.nacimiento%>
  </td>
  <td class="table-68ee368f-08da-466c-ac99-febb1d811527-column-360 h-[72px] px-4 py-2 w-[400px] text-[#5c778a] text-sm font-normal leading-normal">
      <%= registro.genero%>
  </td>
  <td class="table-68ee368f-08da-466c-ac99-febb1d811527-column-480 h-[72px] px-4 py-2 w-[400px] text-[#5c778a] text-sm font-normal leading-normal">
      <%= registro.visita%>
  </td>
  <td class="table-68ee368f-08da-466c-ac99-febb1d811527-column-600 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
    <button
      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 bg-[#eaeef1] text-[#101518] text-sm font-medium leading-normal w-full"
    >
      <span class="truncate">
          <%= registro.estado%>
      </span>
    </button>
  </td>
</tr>
